python-dotenv
requests
streamlit
tensorflow==2.12.0 
numpy==1.23.5
opencv-python
streamlit_webrtc
finance-datareader
matplotlib
pandas
openai
pyupbit
ta
selenium
webdriver-manager
Pillow
youtube-transcript-api
plotly
schedule
pysqlite3
seaborn
openpyxl
beautifulsoup4 